
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 60px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 42pt;
    text-decoration: none;
}
.page-header h1 a:hover{color:#f5ead0}


body.home {
    /*background: url("../../../media/items/2018/10/15/iamlegend1.jpg");*/
    background: url("images/landscape.jpg");

    background-attachment: fixed;

}

body.background1{
    background: url("../../../media/items/2018/10/15/iamlegend1.jpg")
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.content {
    margin-left: 40px;
    background-color: #cce6ff

}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 32pt;
    margin-right: 20px;
}
.top-menu:hover{color:#ECECEC}


.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

#right {
    text-align: right;
}

.header-right {
    text-align:center;
    width:60px;
    height:60px;
    float:right;
    background:rgb(255,255,255);
    border:1px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.14);
    border-radius:100px;
    margin:0 10px 10px 0;
    color:#181818;
    padding:15px;
    display:inline-block;
}
.header-right{color:#0515B5};
.header-right:hover{color:black;};

.register:link{
    text-decoration: none;
    display: block;
    text-align: center;
}
.register{color:#222222}
.register:hover{background:#3b5998, color:#FFF;}

.log:link{
    text-decoration: none;
    display: block;
    font-size:80%;

}
.log{color:#222222}
.log:hover{background:#3b5998; color:#FFF;}


.header-top-ten {
    text-align:center;
    width:60px;
    height:60px;
    float:right;
    background:rgb(255,255,255);
    border:1px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.14);
    border-radius:100px;
    margin:0 10px 10px 0;
    color:#a3c2c2;
    padding:0px;
    display:inline-block;
    background:#0073e6


}

.header-top-ten:hover{background:#4cbb17;color:#FFF;}


#menu-toggle {
    margin-right:60px;

}

.btn_text {
    font-family: 'Lobster', cursive;



    }


.quota {
    font-family: 'Satisfy';
    font-size: 130%;
}

.text {
    font-size: 140%;
    font-family: 'Montserrat';
}

.form-control {
    font-size: 22px;
}


.movies_10 {
    background: #F4E8C9;
    position: absolute;
    float: left;
    right: 0;
    width: 350px;
    height: 1200px;
    margin-top: 60px;
    margin-right: 50px;
    border-style: solid;
    border-color: white;
}
/*/

#div_two {

    position: relative;
    top: 0;
    float: left;
    right:-350px;
    background: #F4E8C9;
    width: 350px;
    height: 100%;
    margin-top: 450px;
    margin-right: 400px;
    border-style: solid;
    border-color: white;

}

/*/
/*/
.box{
    position: absolute;
    top: 0;
    right: -250px;
    background: red;
    width: 250px;
    height: 100%;
    margin-top: 450px;
    margin-right: 400px;
    border-style: solid;
    border-color: white;
    transition: .3s;
}
.active{
    right:0;
}
/*/

.comment {
    margin-right: 20px;
    font-size: 24px;
    font-family: 'Montserrat';
}


body.post {
    margin: 0;
    padding: 0;
    position:relative;
    display:inline-block;
}


.star-rating{
	font-size: 0;
}

.star-rating__wrap{
	display: inline-block;
	font-size: 4rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
	font-size: 5rem;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #f2b01e;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: None;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\2605";
}

ol.top_ten {
    font-size: 24px;
    font-family: 'Lobster', cursive;
    margin-left: 10px;
    margin-right: 10px;
}

li {
    color: #0B2161
    font-size: 24px;
    font-family: 'Montserrat', cursive;

}


numeric {
    color: #a17f1a;
    font-size: 10px;
    font-family: 'Lobster', cursive;
    display: inline-block;
}

#total {
    font-size:8 px;
}

body.empty {
    background: url("images/landscape.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.empty {
    font-size:48px;
}

ol.top_ten {
    color: #434D7E
}

.checked {
            color: orange;
            font-size: 70%;
        }

/*/
#div_wrap {
    display: table;
    position: relative;
    size: 100%;
}


#div_one{
    overflow:hidden;
    vertical-align: bottom;
    float:right;
    display: table-cell;

}

#div_two {
    overflow:hidden;
    float:left;
    display: table-cell;

}
//*/

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.social{
    text-align:center;
    width:60px;
    height:60px;
    float:left;
    background:rgb(255,255,255);
    border:1px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.14);
    border-radius:100px;
    margin:0 10px 10px 0;
    padding:15px;
    display:inline-block;
    color:#181818;
}


.google-pluse:hover{background:#DD4B39;color:#FFF;}
.facebook:hover{background:#3b5998;color:#FFF;}
.twitter:hover{background:#00acee;color:#FFF;}
.pinterest:hover{background:#c8232c;color:#FFF;}
.linkedin:hover{background:#0e76a8;color:#FFF;}
.youtube:hover{background:#c4302b;color:#FFF;}

.bounce {
    font-family:Lobster;
    font-size:200%;
}

.button_content {
    font-family: 'Lobster', cursive;
    font-size: 36px;

}